
# APPWRITE CONFIG
# appwrite endpoints
EXPO_PUBLIC_APPWRITE_ENDPOINTS=''

# project id
EXPO_PUBLIC_PROJECT_ID=''

# database id
EXPO_PUBLIC_DATABASE_ID=''

# collection id
EXPO_PUBLIC_CROPS_COLLECTION_ID=''
EXPO_PUBLIC_EQUIPMENTS_COLLECTION_ID=''
EXPO_PUBLIC_ENTRIES_COLLECTION_ID=''
EXPO_PUBLIC_PAYMENTS_COLLECTION_ID=''